aiohttp==3.7.4.post0
aniso8601==9.0.1
apispec==5.0.0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
cfgv==3.3.0
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.1
distlib==0.3.2
filelock==3.0.12
flake8==3.9.2
Flask==2.0.1
Flask-JWT==0.3.2
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
identify==2.2.11
idna==3.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
marshmallow==3.13.0
mccabe==0.6.1
multidict==5.1.0
nodeenv==1.6.0
password==0.2
pre-commit==2.13.0
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==1.4.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
SQLAlchemy==1.4.22
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.4.7
Werkzeug==2.0.1
yarl==1.6.3
